@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div ng-app="booksApp">

    <div ng-view=""></div>
    

    <script type="text/ng-template" id="/Templates/Books/List">
        @Html.Action("List")
    </script>

    <script type="text/ng-template" id="/Templates/Books/Editor">
        @Html.Action("Editor")
    </script>
    
    <script type="text/ng-template" id="/Templates/Directives/EditorTextInput">
        @Html.Action("EditorTextInput", "Directives")
    </script>
    
</div>


@section scripts
{
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/booksApp")
}
